@font-face{
	font-family: 'ATOMICCLOCKRADIO';
	src:url('ATOMICCLOCKRADIO.ttf');
}





.digiclock{
	font-size: 50px;
	color: blue;
	font-family: 'ATOMICCLOCKRADIO';
    margin:auto;
}

