.container{
	width: 60%;
	background-color: yellow;
}


.game_title{
	display: inline-block;
	width: 100%;
	margin-top: 40px;
	margin-left: auto;
}

.deposit_section{
	margin-top: 20px;
	float: right;
}

/*deposit button*/
.deposit_btn{
	display: block;
	margin: 5px 0 5px auto;
	border: none;
	border-radius: 3px;
	background-color: #27ae60;
	box-shadow: 0 3px #95a5a6;
}

.deposit_btn:hover{
	background-color: #2ecc71;
}

.deposit_btn:active{
	background-color: #2ecc71;
	box-shadow: 0 1px #95a5a6;
	transform: translateY(2px);
}


.diceimg{
    margin: auto;
}


#dice1, #dice2, #dice3{
	display: inherit;
	margin: auto;
}

.smallOrbig{
	display: inline;
}

.smallbtn, .bigbtn{
	font-size: 27px;
	width: 35%;
	margin-left: 10%;
	min-width: 130px;
	height: 52.4px;
	margin-top: 15px;
}

.play_btn{
	margin-top: 4px;
}

.result{
	margin-top: 10px;
}



.balance{
	margin-top: 10px;
}





@media only screen and (max-width:591px){
	.smallbtn, .bigbtn{
		margin-left: 25%;
	}
}