
body{
	background-color: #c1bdba;
	font-family: 'Titillium Web';
}

a{
	text-decoration: none;
	color: rgb(26, 177, 136);
	transition: 0.5s ease;
}

a:hover{
	text-decoration: none;
	transition: 0.5s ease;
	color: rgb(13, 164, 123);
}

h1{
	text-align: center;
	color: #ffffff;
	font-weight: 300;
	margin:0 0 40px;
}

label{
	position: absolute;
	transform:translateY(6px);
	/*left: 15px;*/
	color: rgba(255, 255, 255, 0.5);
	transition: all 0.25s ease;
	-webkit-backface-visibility:hidden;
	pointer-events: none;
	font-size: 22px;
}

label .require{
	margin:2px;
	color: #1ab188;
}

.form{
	background-color: rgba(19, 35, 47, 0.9);
	padding: 40px;
	max-width: 600px;
	margin: 40px auto;
	border-radius: 5px;
	box-shadow: 0 4px 10px 4px;
}

.switch_group{
	list-style:none;
	padding: 0;
	margin: 0 0 40px 0;
}

.switch_group:after{
	content: "";
	display: table;
	clear: both;
}

.tab a{
	display: block;
	text-decoration: none;
	padding: 15px;
	background-color: rgba(159, 178, 175, 0.25);
	color: rgb(159, 178, 175);
	float: left;
	width: 50%;
	text-align: center;
	transition:0.5s ease;
	font-size: 23px;
}

.tab a:hover{
	background: #1ab188;
	color: #ffffff;
}

.tab .active a{
	background:#1ab188;
	color: #ffffff;
}

.tab_content > div:last-child{
	display: none;
}

